@import "./init.scss";

.tabs .tab a {
    color: $primary-color;
}

/*Black color to the text*/

.tabs .tab a:hover {
    background-color: rgb(245, 245, 245);
    color: $primary-color;
}

/*Text color on hover*/

.tabs .tab a.active {
    background-color: rgb(247, 247, 247);
    color: $secondary-color;
}

/*Background and text color when a tab is active*/

.tabs .indicator {
    background-color: $secondary-color;
}

/*Color of underline*/

.button-document {
    margin-top: 30px;
    width: 100%;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: none;
    flex-wrap: wrap;

    &:hover {
        box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    }

    .content-button {
        p {
            margin: 0;
        }

        .material-icons {
            font-size: 70px;
            margin-top: 20px;
        }
    }
}