@import "./init.scss";

.card-hover {

    .min-card-course {
        min-height: 450px;


        &:hover {
            box-shadow: 0 2px 2px 0 $primary-color, 0 3px 1px -2px $primary-color, 0 1px 5px 3px $primary-color;

            .card-title {
                color: $primary-color !important;
            }
        }

        .card-content {
            .card-title {
                font-weight: bold;
                transition: 0.3s;
                -webkit-transition: 0.3s;
                -moz-transition: 0.3s;
                -ms-transition: 0.3s;
                -o-transition: 0.3s;
            }
        }

        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
    }
}