$first-color: #ff82bc;
$second-color: #ff9aff;
$third-color: #cd97ff;
$fourth-color: #b899ff;
$fiveth-color: #a9a0ff;
$sixth-color: #9dd3ff;
$seventh-color: #6ed2da;
$eighth-color: #89e2db;
$primary-color: #fdc018;

%left-top {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.background-login {
  background-image: url("../img/Software-Engineering-2.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 0;
}

.text-line-center {
  position: relative;

  &-title {
    position: absolute;
    top: -5px;
    left: 50%;
    background-color: #fff;
    padding: 0 20px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
}

.abcRioButton {
  width: 50% !important;
  margin: auto;
}

.medium {
  &::after {
    color: $primary-color !important;
  }
}

//button login
.loginBtn {
  box-sizing: border-box;
  position: relative;
  width: 12.7em;
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}

.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}

.loginBtn:focus {
  outline: none;
}

.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;
  text-shadow: 0 -1px 0 #354C8C;
}

.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}

.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */
$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669F2;

.google-btn {
  position: relative;
  width: 13.5em;
  height: 34px;
  background-color: $google-blue;
  border-radius: 2px;
  border: 0;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .25);

  .google-icon-wrapper {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 2px;
    background-color: $white;
    top: 2px;
    left: 2px;
  }

  .google-icon {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }

  .btn-text {
    margin: 0px 0px 0 30px !important;
    color: $white;
    font-family: "Roboto", Roboto, arial, sans-serif;
  }

  &:hover {
    box-shadow: 0 0 6px $google-blue;
  }

  &:active {
    background: $button-active-blue;
  }
}