$first-color: #ff82bc;
$second-color: #ff9aff;
$third-color: #cd97ff;
$fourth-color: #b899ff;
$fiveth-color: #a9a0ff;
$sixth-color: #9dd3ff;
$seventh-color: #6ed2da;
$eighth-color: #89e2db;
$primary-color: #fdc018;

%center-display {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo-dev {
  .logo-navbar-dev {
    max-height: 62px;
  }

  max-height: 63.9px;
  padding: 2px !important;
}

#home {
  a {
    @extend %center-display;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    max-height: 63.9px;
  }

  i {
    font-size: 20px;
    max-height: 20px;
  }

  &:hover {
    background: $primary-color !important;

    a {
      color: white !important;
      background-color: transparent !important;
    }
  }
}

#info {
  a {
    @extend %center-display;
    transition: 0.3s;
    max-height: 63.9px;
  }

  i {
    font-size: 20px;
    max-height: 20px;
  }

  &:hover {
    background: $primary-color !important;

    a {
      color: white !important;
      background-color: transparent !important;
    }
  }
}

#registration {
  a {
    @extend %center-display;
    transition: 0.3s;
    max-height: 63.9px;
  }

  i {
    font-size: 20px;
    max-height: 20px;
  }

  &:hover {
    background: $primary-color !important;

    a {
      color: white !important;
      background-color: transparent !important;
    }

    .drop-hover {
      a {
        color: #000 !important;
      }
    }
  }
}


.dropdown-content li:hover,
.dropdown-content li.active {
  background-color: $primary-color !important;

  a {
    color: #000 !important;
  }
}

#showroom {
  a {
    @extend %center-display;
    transition: 0.3s;
    max-height: 63.9px;
  }

  i {
    font-size: 20px;
    max-height: 20px;
  }

  &:hover {
    background: $primary-color !important;

    a {
      color: white !important;
      background-color: transparent !important;
    }
  }
}

#write {
  a {
    @extend %center-display;
    transition: 0.3s;
    max-height: 63.9px;
  }

  i {
    font-size: 20px;
    max-height: 20px;
  }

  &:hover {
    background: $primary-color !important;

    a {
      color: white !important;
      background-color: transparent !important;
    }
  }
}

#book {
  a {
    @extend %center-display;
    transition: 0.3s;
    max-height: 63.9px;
  }

  i {
    font-size: 20px;
    max-height: 20px;
  }

  &:hover {
    background: $primary-color !important;

    a {
      color: white !important;
      background-color: transparent !important;
    }
  }
}

#even {
  a {
    @extend %center-display;
    transition: 0.3s;
    max-height: 63.9px;
  }

  i {
    font-size: 20px;
    max-height: 20px;
  }

  &:hover {
    background: $primary-color !important;

    a {
      color: white !important;
      background-color: transparent !important;
    }
  }
}

.navbar-fixed {
  z-index: 1000;
  transition: 0.3s !important;
  -webkit-transition: 0.3s !important;
  -moz-transition: 0.3s !important;
  -ms-transition: 0.3s !important;
  -o-transition: 0.3s !important;
}

.dropdown-top-nav {
  min-width: 250px !important;

  a {
    color: #000 !important;
  }
}

.collapse-dev {
  padding: 0 32px !important;
  font-size: 14px;

  i {
    font-size: 14px;
  }
}

.icon-account {
  text-align: left !important;
  margin-right: 30px !important;
}

.collapsible-login {
  margin-left: 20px !important;
}