@import "./init.scss";

.easy,
.normal,
.hard,
.extreme {
  position: relative;
}

.card-problem {
  position: relative;
  height: 230px;
  margin: 10px auto;
  background: #fff;
  z-index: 99;

  &:hover {
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.2);

    .face2 {
      height: 70px;
      width: 90%;
      top: 10px;
      left: 50%;
      background: transparent;
      border: 3px solid $primary-color;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);

      p {
        color: #000;
        font-size: 1em;
      }
    }
  }

  .face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .face1 {
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    background: #fff;
    color: #000;
    align-items: flex-end;

    .card-content {
      padding: 20px;
    }

    a {
      display: block;
      padding: 5px 20px;
      margin-top: 20px;
      font-weight: 900;
      color: $primary-color !important;
      border: 1px solid $primary-color;

      &:hover {
        color: #fff !important;
        background: $primary-color;
      }

      transition: 0.3s ease-out;
      -webkit-transition: 0.3s ease-out;
      -moz-transition: 0.3s ease-out;
      -ms-transition: 0.3s ease-out;
      -o-transition: 0.3s ease-out;
    }
  }

  .face2 {
    text-align: center;
    overflow: hidden;
    padding: 10px;

    p {
      margin: 0;
      color: $primary-color;
      font-size: 2em;
      transition: 0.3s ease-out;
      -webkit-transition: 0.3s ease-out;
      -moz-transition: 0.3s ease-out;
      -ms-transition: 0.3s ease-out;
      -o-transition: 0.3s ease-out;
    }

    background: #fff;
    transition: 0.3s ease-out;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
  }

  transition: 0.3s ease-out;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
}

.mobile-filter-dev {
  position: fixed;
  top: 80%;
  right: 20px;
}

.lock {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 230px;
  margin: 10px auto;
  padding: 0 10px;
  z-index: 110;

  &-background {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.7);
    transition: 0.5s ease-out;
    -webkit-transition: 0.5s ease-out;
    -moz-transition: 0.5s ease-out;
    -ms-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
  }

  &-content {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #000;
    z-index: 101;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transition: 0.5s ease-out;
    -webkit-transition: 0.5s ease-out;
    -moz-transition: 0.5s ease-out;
    -ms-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    text-align: center;

    i {
      font-size: 50px;
    }

    p {
      font-size: 20px;
    }
  }

  &:hover &-background {
    background: #000;
  }

  &:hover &-content {
    color: #fff;

    i {
      font-size: 55px;
    }
  }
}