@import './init.scss';

#preview {
    max-width: 80%;
    max-height: 80%;
    overflow: hidden;
}

@media only screen and (max-width: 434px) {
    .max-width-device {
        min-width: 95%;
        min-height: 80vh;
    }
}