html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.admin-main {
  padding-left: 300px;
}

.admin-user-control {
  display: flex;
  min-height: 100px !important;
  justify-content: space-around;
  align-items: center;
}

.admin-exercises {
  display: flex;
  min-height: 60px !important;
  justify-content: space-around;
  align-items: center;
}

.min-height-admin-user {
  min-height: 50px !important;
}
.min-height-admin-user-content {
  padding: 10px !important;
}

.popup-edit-exercise {
  min-width: 95vw !important;
  min-height: 85vh !important;
}

.navbar-fixed {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.center-dev {
  float: left;
}
.center-dev .search {
  height: 100%;
  position: relative;
}
.center-dev .search-input {
  z-index: 1;
  position: relative;
  left: 0;
  width: 200px !important;
  padding: 2px 2px 2px 50px !important;
  border: none !important;
  color: black;
  background: #fff !important;
  border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;
  transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
  -webkit-transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
  -moz-transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
  -ms-transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
  -o-transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
}
.center-dev .search-input:focus {
  width: 250px !important;
  border-bottom: none !important;
  box-shadow: none !important;
}
.center-dev .search-icon {
  color: #ccc;
  position: absolute;
  left: 3%;
  z-index: 10;
}

.collapsible-header {
  padding: 3px 10px !important;
}
.collapsible-header h5 {
  margin: 5px 0;
}

.downline-dev {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.show-more-line {
  cursor: pointer;
}

.collapsible-body {
  padding: 10px 15px !important;
}
.collapsible-body .card-content {
  padding: 10px !important;
}
.collapsible-body .card-content .row {
  margin-bottom: 0 !important;
}

#back {
  opacity: 0.5;
  font-size: 30px;
  margin: 10px;
  padding-right: 10px;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
#back:hover {
  opacity: 0.7;
  color: #000;
  margin-left: 5px;
  padding-right: 15px;
}

.dropDownSelect2 {
  z-index: 9999999999 !important;
}

.select2-dropdown {
  z-index: 99999999999 !important;
}
.select2-dropdown--above {
  z-index: 99999999999999 !important;
}

.button-delete-problem {
  position: fixed;
  right: 20px;
  bottom: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/*# sourceMappingURL=admin.css.map */
