.btn-detail-challenge {
  background: transparent;
  outline: none;
  position: relative;
  border: 2px solid #111;
  padding: 12px 50px;
  overflow: hidden;
  cursor: pointer;
}
.btn-detail-challenge:before {
  content: attr(data-hover);
  position: absolute;
  top: 1.1em;
  left: 0;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 800;
  font-size: 0.8em;
  opacity: 0;
  transform: translate(-100%, 0);
  transition: all 0.3s ease-in-out;
}
.btn-detail-challenge:hover:before {
  opacity: 1;
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
}
.btn-detail-challenge:hover div {
  opacity: 0;
  transform: translate(100%, 0);
  -webkit-transform: translate(100%, 0);
  -moz-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  -o-transform: translate(100%, 0);
}
.btn-detail-challenge div {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 800;
  font-size: 0.8em;
  transition: all 0.3s ease-in-out;
}
.btn-detail-challenge:focus {
  background: transparent;
}

.code-screen {
  min-height: 100px;
  padding: 20px;
}

.video-popup {
  width: 95%;
  min-height: 90vh;
  top: 5% !important;
}

.sticky {
  position: sticky;
  top: 10%;
}

.around {
  display: flex;
  justify-content: space-around;
}

.word-wrap-problem {
  word-wrap: break-word;
}

/*# sourceMappingURL=detail.css.map */
