#even a, #book a, #write a, #showroom a, #registration a, #info a, #home a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo-dev {
  max-height: 63.9px;
  padding: 2px !important;
}
.logo-dev .logo-navbar-dev {
  max-height: 62px;
}

#home a {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  max-height: 63.9px;
}
#home i {
  font-size: 20px;
  max-height: 20px;
}
#home:hover {
  background: #fdc018 !important;
}
#home:hover a {
  color: white !important;
  background-color: transparent !important;
}

#info a {
  transition: 0.3s;
  max-height: 63.9px;
}
#info i {
  font-size: 20px;
  max-height: 20px;
}
#info:hover {
  background: #fdc018 !important;
}
#info:hover a {
  color: white !important;
  background-color: transparent !important;
}

#registration a {
  transition: 0.3s;
  max-height: 63.9px;
}
#registration i {
  font-size: 20px;
  max-height: 20px;
}
#registration:hover {
  background: #fdc018 !important;
}
#registration:hover a {
  color: white !important;
  background-color: transparent !important;
}
#registration:hover .drop-hover a {
  color: #000 !important;
}

.dropdown-content li:hover,
.dropdown-content li.active {
  background-color: #fdc018 !important;
}
.dropdown-content li:hover a,
.dropdown-content li.active a {
  color: #000 !important;
}

#showroom a {
  transition: 0.3s;
  max-height: 63.9px;
}
#showroom i {
  font-size: 20px;
  max-height: 20px;
}
#showroom:hover {
  background: #fdc018 !important;
}
#showroom:hover a {
  color: white !important;
  background-color: transparent !important;
}

#write a {
  transition: 0.3s;
  max-height: 63.9px;
}
#write i {
  font-size: 20px;
  max-height: 20px;
}
#write:hover {
  background: #fdc018 !important;
}
#write:hover a {
  color: white !important;
  background-color: transparent !important;
}

#book a {
  transition: 0.3s;
  max-height: 63.9px;
}
#book i {
  font-size: 20px;
  max-height: 20px;
}
#book:hover {
  background: #fdc018 !important;
}
#book:hover a {
  color: white !important;
  background-color: transparent !important;
}

#even a {
  transition: 0.3s;
  max-height: 63.9px;
}
#even i {
  font-size: 20px;
  max-height: 20px;
}
#even:hover {
  background: #fdc018 !important;
}
#even:hover a {
  color: white !important;
  background-color: transparent !important;
}

.navbar-fixed {
  z-index: 1000;
  transition: 0.3s !important;
  -webkit-transition: 0.3s !important;
  -moz-transition: 0.3s !important;
  -ms-transition: 0.3s !important;
  -o-transition: 0.3s !important;
}

.dropdown-top-nav {
  min-width: 250px !important;
}
.dropdown-top-nav a {
  color: #000 !important;
}

.collapse-dev {
  padding: 0 32px !important;
  font-size: 14px;
}
.collapse-dev i {
  font-size: 14px;
}

.icon-account {
  text-align: left !important;
  margin-right: 30px !important;
}

.collapsible-login {
  margin-left: 20px !important;
}

/*# sourceMappingURL=navbar.css.map */
